<div id="navbar" class="ui grid">
  <a routerLink="" id="logo" class="two wide column">
    <img class="ui small image" alt="ama-romach-logo" src="../assets/images/white_logo.png">
  </a>
  <div id="search" class="seven wide column">
    <div class="ui fluid action input">
      <input type="text" placeholder="Search">
      <button class="ui primary icon button">
        <i class="search primary icon"></i>
      </button>
    </div>
  </div>
  <div id="tools-row" class="six wide column">
    <div id="tools" class="ui fluid menu">
      <div id="account-button">
        <div [matMenuTriggerFor]="menu">Account&Lists
          <i id="dropdown-icon" class="dropdown icon"></i>
        </div>
        <mat-menu class="fluid" #menu="matMenu">
          <div class="ui two column fluid relaxed divided padded grid">
            <div class="column">
              <div class="ui sub header">YOUR ACCOUNT</div>
              <div class="ui link list">
                <a class="item">SIGN IN</a>
                <a class="item">SIGN UP</a>
              </div>
            </div>
            <div class="column">
              <div class="ui sub header">YOUR LISTS</div>
              <div class="ui link list">
                <a class="item">Create New List</a>
              </div>
            </div>
          </div>
        </mat-menu>
      </div>
      <app-cart-button id="cart-button" (click)="openDialog()">
      </app-cart-button>
    </div>
  </div>
</div>
