<div class="three wide column">
  <div class="ui image">
    <img [src]="cartItem.product.image" alt="{{cartItem.product.name}}">
  </div>
</div>
<div class="five wide column">
  <div class="text-content">
    <div class="ui header">{{cartItem.product.name}}</div>
    <p>{{cartItem.product.description}}</p>
    <p>{{cartItem.product.price| currency:'ILS' }}
    </p>
    <mat-select *ngIf="cartItem.product.limit; else unlimited"
                [placeholder]="cartItem.amount.toString()" (selectionChange)="onAmountChange($event.value)">
      <mat-option *ngFor="let limit of limitOptions;" [value]="limit">
        {{limit}}
      </mat-option>
    </mat-select>

    <ng-template #unlimited>
      <div class="ui transparent input">
        <input type="number" min="1" [ngModel]="cartItem.amount" (ngModelChange)="onAmountChange($event)">
      </div>
    </ng-template>
  </div>
</div>
<div class="eight wide column">
  <i class="close-icon red close link icon" (click)="removeProduct()"></i>
</div>
<div class="sixteen wide column">
  <div class="ui divider"></div>
</div>
