<mat-dialog-content>
  <div class="ui header">Your Shopping Cart</div>
  <div class="ui divider"></div>
  <app-cart-product id="modal-content" class="ui grid" *ngFor=" let cartProduct of cartProducts$|async;"
                    [product]="cartProduct" (productToRemove)="removeProduct($event)"
                    (changeAmount)="updateAmount(cartProduct.product,$event)">
  </app-cart-product>
  <p id="total-price">Total price: {{this.totalPrice$|async}}
    <i class="small shekel sign icon"></i></p>

  <mat-dialog-actions align="end">
    <div mat-dialog-close class="ui secondary button">continue shopping</div>
    <button class="ui primary right labeled icon button" (click)="checkout()">
      <i class="cart icon"></i>
      checkout
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
