<div class="three wide column">
  <div class="ui image">
    <img [src]="cartItem.product.image" alt="{{cartItem.product.name}}">
  </div>
</div>
<div class="five wide column">
  <div class="text-content">
    <div class="ui header">{{cartItem.product.name}}</div>
    <p>{{cartItem.product.description}}</p>
    <p>{{cartItem.product.price| currency:'ILS':true }}
    </p>
    <select id="selected-value" class="ui fluid dropdown" *ngIf="cartItem.product.limit" [(ngModel)]="cartItem.amount"
            (change)="changeLimit(cartItem.amount)">
      <option *ngFor="let num of limitOptions;" [value]="num">
        {{num}}
      </option>
    </select>

    <div class="ui transparent input" *ngIf="!cartItem.product.limit">
      <input type="number" min="1" [(ngModel)]="cartItem.amount" (change)="unlimitedProductAmount()">
    </div>
  </div>
</div>
<div class="eight wide column">
  <i class="close-icon red close link icon" (click)="removeProduct()"></i>
</div>
<div class="sixteen wide column">
  <div class="ui divider"></div>
</div>
